@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.search {
  font-family: 'FontAwesome';
}

body {
  font-family: 'Lato', sans-serif;
}

.app {
  position: relative;
  max-width: 400px;
  max-height: 850px;
}

.active {
  display: block !important;
}

.layer {
  display: none;
  min-height: 100vh;
}

h1 {
  font-size: 1.5em;
  color: #1c1c1c;
}

h1 .icons {
  padding-left: 0.5em;
}

h3 {
  font-size: 1em;
  font-weight: bolder;
  color: #1c1c1c;
}

h6 {
  font-size: .9em;
  font-weight: bolder;
  color: #696969;
}

.browse-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 5em;
}

.browse-container .product {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5em;
}

.browse-container .product h2 {
  font-size: 1em;
}

.browse-container .product p {
  color: #696969;
  line-height: 20px;
}

.browse-container .product p .price {
  color: #37884e;
  font-weight: bolder;
}

.browse-container .product .product-img {
  width: 100%;
  border-radius: 3px 3px 3px 30px;
}

.main-footer {
  max-width: 400px;
  position: fixed;
  -webkit-box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.04);
          box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.04);
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4.5em;
  width: 100%;
}

.main-footer .nav-on {
  background: #1c1c1c !important;
}

.main-footer .nav-on i {
  color: #ffffff;
}

.main-footer .nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #ffffff;
}

.main-footer .nav i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  top: calc(50% - 10px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-header {
  position: fixed;
  top: 0;
  background: #ffffff;
  padding: 0.5em;
}

.main-header .headerlogo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 30%;
}

.main-header .headerback {
  font-size: 1.5em;
  top: 0.5em;
  left: 0.5em;
  position: absolute;
  color: #1c1c1c;
}

.global-btns {
  margin-top: 1em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.global-btns button {
  font-size: 0.65em;
  border: none;
  outline: none;
  padding: 1.2em 2em;
  margin-left: 1em;
  width: 45%;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px 9px 9px 15px;
}

.global-btns .delete-btn {
  color: #1c1c1c;
  background-color: #ffffff;
}

.global-btns .save-btn {
  color: #ffffff;
  background-color: #1c1c1c;
}

.home {
  background: linear-gradient(160deg, #ffffff, #ffffff 50%, #1c1c1c 50%, #1c1c1c);
}

.home p {
  text-align: center;
  color: #ffffff;
  padding: 2em;
  line-height: 1.5em;
}

.home .header .logoimg {
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  display: block;
  width: 35%;
}

.home .mainimg {
  margin: auto;
  display: block;
  width: 90%;
}

.home .buttons .signup-btn {
  display: block;
  width: 80%;
  margin: auto;
  padding: 1.3em;
  text-align: center;
  letter-spacing: 5px;
  color: #1c1c1c;
  font-weight: bolder;
  border-radius: 22px;
  background: #ffffff;
}

.home .buttons .login-btn {
  display: block;
  width: 80%;
  margin: auto;
  padding: 1.3em;
  text-align: center;
  letter-spacing: 5px;
  color: #1c1c1c;
  font-weight: bolder;
  border-radius: 22px;
  margin-top: 1em;
  background: #ffffff;
}

.login {
  background: linear-gradient(160deg, #1c1c1c, #1c1c1c 50%, #ffffff 50%, #ffffff);
}

.login .header .logoimg {
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  display: block;
  width: 35%;
}

.login .header .backicon {
  font-size: 1.8em;
  top: 1em;
  left: 0.5em;
  position: absolute;
  color: #ffffff;
}

.login .loginimg {
  margin: auto;
  display: block;
  width: 85%;
  margin-top: 4em;
}

.login .signin-container {
  margin: 3em;
}

.login .signin-container h1 {
  font-size: 1.5em;
}

.login .signin-container h1 .icons {
  padding-left: 0.5em;
}

.login .signin-container form input {
  border: none;
  color: #a8a8a8;
  border-bottom: thin #a8a8a8 solid;
  background: transparent;
  padding: 2.5em 1em 1em 0em;
  font-size: 1em;
  width: 100%;
}

.login .signin-container form input:focus {
  outline: none !important;
}

.login .signin-container form button {
  display: block;
  width: 80%;
  margin: auto;
  padding: 1.3em;
  text-align: center;
  letter-spacing: 5px;
  color: #1c1c1c;
  font-weight: bolder;
  border-radius: 22px;
  color: #ffffff;
  font-size: 1em;
  width: 100%;
  margin-top: 3em;
  background: #1c1c1c;
  border: none;
  font-weight: 300;
}

.login .signin-container form button:focus {
  outline: none !important;
}

.signup {
  background: #ffffff;
}

.signup .header .logoimg {
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  display: block;
  width: 35%;
}

.signup .header .backicon {
  font-size: 1.8em;
  top: 1em;
  left: 0.5em;
  position: absolute;
  color: #1c1c1c;
}

.signup .signin-container {
  margin: 3em;
}

.signup .signin-container h1 {
  margin-top: 3em;
  font-size: 1.5em;
}

.signup .signin-container h1 .icons {
  padding-left: 0.5em;
}

.signup .signin-container form {
  margin-top: 1em;
}

.signup .signin-container form input {
  border: none;
  color: #a8a8a8;
  border-bottom: thin #a8a8a8 solid;
  background: transparent;
  padding: 2.5em 1em 1em 0em;
  font-size: 1em;
  width: 100%;
}

.signup .signin-container form input:focus {
  outline: none !important;
}

.signup .signin-container form button {
  display: block;
  width: 80%;
  margin: auto;
  padding: 1.3em;
  text-align: center;
  letter-spacing: 5px;
  color: #1c1c1c;
  font-weight: bolder;
  border-radius: 22px;
  color: #ffffff;
  font-size: 1em;
  width: 75%;
  position: absolute;
  bottom: 4em;
  background: #1c1c1c;
  border: none;
  font-weight: 300;
}

.signup .signin-container form button:focus {
  outline: none !important;
}

.browse .browse-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.browse .browse-header .search {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.browse .browse-header .search input {
  border: none;
}

.browse .browse-header .search button {
  border: none;
  background: transparent;
  margin: 0.5em;
}

.browse .browse-header .logoimg {
  display: block;
  width: 30%;
}

.browse .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.browse .category .category-box {
  text-align: center;
}

.browse .category .category-box p {
  margin-top: 1em;
  font-size: 0.8em;
}

.browse .category .on p {
  color: #37884e !important;
}

.browse .category .category-icon {
  border-radius: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4em;
          flex: 0 0 4em;
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.browse .category .category-icon .iconimg {
  display: block;
  width: 60%;
}

.fav .fav-container {
  margin-top: 4em;
}

.fav .fav-container .fav-title {
  font-size: 1.5em;
  margin-left: 1em;
  color: #333333;
}

.fav .fav-container .browse-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fav .fav-container .browse-container .product {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5em;
  position: relative;
}

.fav .fav-container .browse-container .product .fa-heart {
  color: #c50101;
  position: absolute;
  padding: 0.5em;
  right: 0.5em;
}

.fav .fav-container .browse-container .product h2 {
  font-size: 1.1em;
  font-weight: bolder;
}

.fav .fav-container .browse-container .product p {
  color: #696969;
  line-height: 20px;
}

.fav .fav-container .browse-container .product p .price {
  color: #37884e;
  font-weight: bolder;
}

.fav .fav-container .browse-container .product .product-img {
  width: 100%;
  border-radius: 3px 3px 3px 30px;
}

.profile {
  background-image: linear-gradient(130deg, transparent 25em, white 25em), linear-gradient(-160deg, black 16em, white 16em);
}

.profile .main-header {
  background: black !important;
  color: white !important;
}

.profile .main-header i {
  color: #ffffff;
}

.profile .main-header .fa-cog {
  color: #ffffff;
  font-size: 1.5em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.profile .profilehead {
  padding-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.profile .profilehead .profileimg {
  width: 40%;
  border-radius: 3px 3px 3px 30px;
}

.profile .profilehead .profiledp {
  margin-left: 1em;
}

.profile .profilehead .profiledp h3 {
  color: white;
  margin-bottom: 0.5em;
}

.profile .profilehead .profiledp h3 .profile-edit {
  padding: 1em;
  font-size: 0.9em;
}

.profile .profilehead .profiledp p {
  color: #696969;
  line-height: 2em;
}

.profile .profilehead .profiledp p i {
  margin-right: 0.5em;
}

.profile .bio {
  margin: 1.5em;
}

.profile .bio p {
  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.profile .addproduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .addproduct .addbtn {
  color: #696969;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile .addproduct .addbtn i {
  color: #1c1c1c;
  font-size: 1.5em;
  padding-left: 0.2em;
}

.others-profile {
  background-image: linear-gradient(130deg, transparent 25em, white 25em), linear-gradient(-160deg, black 16em, white 16em);
}

.others-profile .main-header {
  background: black !important;
  color: white !important;
}

.others-profile .main-header i {
  color: #ffffff;
}

.others-profile .main-header .fa-cog {
  color: #ffffff;
  font-size: 1.5em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.others-profile .profilehead {
  padding-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.others-profile .profilehead .profileimg {
  width: 40%;
  border-radius: 3px 3px 3px 30px;
}

.others-profile .profilehead .profiledp {
  margin-left: 1em;
}

.others-profile .profilehead .profiledp h3 {
  color: white;
  margin-bottom: 0.5em;
}

.others-profile .profilehead .profiledp h3 .profile-edit {
  padding: 1em;
  font-size: 0.9em;
}

.others-profile .profilehead .profiledp p {
  color: #696969;
  line-height: 2em;
}

.others-profile .profilehead .profiledp p i {
  margin-right: 0.5em;
}

.others-profile .bio {
  margin: 1.5em;
}

.others-profile .bio p {
  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.others-profile .addproduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.others-profile .addproduct .addbtn {
  color: #696969;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.others-profile .addproduct .addbtn i {
  color: #1c1c1c;
  font-size: 1.5em;
  padding-left: 0.2em;
}

.setting {
  overflow: hidden;
}

.setting .setting-list {
  margin: 3em;
  padding-top: 3em;
}

.setting .setting-list h1 i {
  margin-left: 0.5em;
}

.setting .setting-list ul {
  margin-top: 1em;
}

.setting .setting-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px #a8a8a8 solid;
  padding-top: 2em;
  padding-bottom: 1.5em;
}

.setting .setting-list ul li i {
  font-size: 1.5em;
  color: #696969;
}

.checkout .main-checkout {
  margin: 3em 1em 0 1em;
  padding: 1em;
  margin-bottom: 6em;
}

.checkout .subtitle {
  padding-top: 1em;
}

.checkout .cart-item {
  margin: 1em auto;
}

.checkout .cart-item .cartsec1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12.5em;
  margin-bottom: 2em;
  border-bottom: thin #a8a8a8 solid;
}

.checkout .cart-item .cartsec1 .cartpic {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

.checkout .cart-item .cartsec1 .cartpic img {
  display: block;
  width: 100%;
  border-radius: 3px 3px 3px 15px;
}

.checkout .cart-item .cartdes {
  padding-left: 1em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  line-height: 150%;
}

.checkout .cart-item .cartdes h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

.checkout .cart-item .cartdes h6 {
  color: #a8a8a8;
  font-weight: 400;
}

.checkout .cart-item .price {
  color: #37884e;
  font-weight: bolder;
  margin-top: 0;
}

.checkout .cart-item .trashicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 3em;
}

.checkout .cart-item .trashicon .fa-trash-alt {
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 1em;
  padding: 1em;
}

.checkout .shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkout .shipping h6 {
  color: #a8a8a8;
}

.checkout .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5em;
}

.checkout .total .blacktotal h3 {
  color: black;
  font-weight: bolder;
}

.checkout .total h3 {
  font-weight: 900;
  color: #37884e;
  font-size: 1.5em;
  font-weight: bolder;
}

.add {
  overflow: hidden;
}

.add .main-add {
  padding: 1em 2em;
  margin-top: 3em;
}

.add .subtitle {
  padding-top: 1em;
}

.add .productimage {
  position: relative;
  margin: 1em 0;
}

.add .productimage h3 {
  margin-bottom: 1em;
}

.add .productimage input[type="file"] {
  position: absolute;
  bottom: 0.1em;
  left: 0.8em;
  z-index: 10;
  outline: none;
}

.add .productimage .custom-file-upload {
  cursor: pointer;
  position: relative;
  z-index: 20;
}

.add .productimage .fa-camera-retro {
  padding: 2em 2.5em;
  border: thin #a8a8a8 solid;
  border-radius: 0 0 0 1em;
  color: #a8a8a8;
  background-color: #ffffff;
}

.add .form-group {
  margin-bottom: 1em;
}

.add .form-group label {
  display: block;
  padding-bottom: 0.3em;
}

.add .form-group input {
  padding: .5em;
  border: thin #a8a8a8 solid;
  border-radius: 3px;
  width: 100%;
  border-radius: 2px 2px 2px 8px;
}

.add .form-group textarea {
  width: 100%;
  border: thin #a8a8a8 solid;
  border-radius: 3px;
  resize: none;
  font-family: 'Lato', sans-serif;
  color: #696969;
  padding: 0.3em;
  border-radius: 2px 2px 2px 16px;
}

.add .global-btns {
  margin-top: 1em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.add .global-btns button {
  font-size: 0.9em;
  border: none;
  outline: none;
  padding: 1em 2em;
  margin-left: 1em;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px 9px 9px 15px;
}

.add .global-btns .delete-btn {
  color: #1c1c1c;
  background-color: #ffffff;
}

.add .global-btns .save-btn {
  color: #ffffff;
  background-color: #1c1c1c;
}

.detail {
  font-family: 'Lato', sans-serif;
  padding-bottom: 5em;
}

.detail .main-header {
  z-index: 99999;
  background-color: transparent;
}

.detail .main-header .headerback {
  color: #ffffff;
}

.detail .item-detail-img-container {
  overflow: hidden;
  position: relative;
  height: 25em;
  border-radius: 0 0 0 3em;
}

.detail .item-detail-img-container .backicon {
  position: absolute;
  z-index: 9999;
  font-size: 1.8em;
  top: 1em;
  left: 0.5em;
  color: #ffffff;
}

.detail .item-detail-img-container img {
  position: absolute;
  left: -10000%;
  right: -10000%;
  top: -10000%;
  bottom: -10000%;
  margin: auto auto;
  max-width: 11%;
  max-height: 25em;
  -webkit-transform: scale(10);
  transform: scale(10);
  z-index: 10;
}

.detail .item-detail-content-wrap {
  padding: 1.5em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.detail .item-detail-content-wrap .addtocart-btn {
  background-color: #ffffff;
  padding: 0.5em;
  text-align: center;
  position: absolute;
  z-index: 9999;
  font-size: 1.5em;
  top: -1.6em;
  right: 1.5em;
  color: #333333;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  outline: none;
  border: none;
}

.detail .item-detail-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.detail .item-detail-header-container .item-detail-title {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #1c1c1c;
}

.detail .item-detail-header-container .item-detail-price {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-family: 'Lato', sans-serif;
  color: #37884E;
  font-size: 1.5em;
}

.detail .item-detail-subhead-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.detail .review-star-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2em 0;
}

.detail .review-star-container .avgRating {
  color: #696969;
  padding: 0 0.5em 0 0.1em;
}

.detail .review-star-container img {
  width: 1em;
  margin: 0 0.1em;
}

.detail .fav-container img {
  width: 1.5em;
  margin: 0.3em 0.3em 0 0;
}

.detail .item-user {
  font-family: 'Lato', sans-serif;
}

.detail .item-user-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-bottom: 1em;
}

.detail .item-user-container .item-user-dp img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.detail .item-user-container .item-user-info-container {
  padding-left: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detail .item-user-container .item-user-info-container .item-user-name {
  font-weight: 400;
  font-size: 0.9em;
}

.detail .item-user-container .item-user-info-container .item-user-address {
  font-weight: 400;
  font-size: 0.9em;
  color: #a8a8a8;
}

.detail .item-desc-container, .detail .item-ship-container {
  padding-bottom: 1em;
}

.detail .item-desc-container .item-desc-title, .detail .item-desc-container .item-ship-title, .detail .item-ship-container .item-desc-title, .detail .item-ship-container .item-ship-title {
  font-weight: 400;
  padding-bottom: 1em;
  font-size: 0.9em;
}

.detail .item-desc-container .item-desc, .detail .item-desc-container .item-ship, .detail .item-ship-container .item-desc, .detail .item-ship-container .item-ship {
  color: #696969;
  font-weight: 400;
  line-height: 160%;
  font-size: 0.85em;
}

.detail .item-review-container {
  width: 100%;
}

.detail .item-review-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1em;
}

.detail .item-reviewlist-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  margin: 0 auto;
}

.detail .item-reviewlist-container .review-container {
  background-color: #F6F6F6;
  padding: 1.5em;
  border-radius: 3px 3px 3px 28px;
  margin-bottom: 1.5em;
}

.detail .item-reviewlist-container .review-user-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1em;
}

.detail .item-reviewlist-container .review-user-dp {
  padding-right: 1em;
}

.detail .item-reviewlist-container .review-user-dp img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.detail .item-reviewlist-container .review-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail .item-reviewlist-container .review-header .review-user-name {
  font-size: 0.9em;
  font-weight: 600;
}

.detail .item-reviewlist-container .comment-header-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail .item-reviewlist-container .comment-header-btn-container i {
  padding: 0.8em;
  background-color: #a8a8a8;
  margin-left: 0.5em;
  font-size: 0.8em;
  color: #ffffff;
  border-radius: 50%;
}

.detail .item-reviewlist-container .review-rating {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.detail .item-reviewlist-container .review-rating img {
  width: 0.8em;
  margin: 0 0.05em;
}

.detail .item-reviewlist-container .new-review-rating img {
  width: 1.4em;
  margin: 0 0.05em;
}

.detail .item-reviewlist-container .new-review-rating-title {
  font-weight: 600;
  margin-bottom: 0.5em;
}

.detail .item-reviewlist-container .new-review-rating {
  margin-bottom: 1em;
}

.detail .item-reviewlist-container .review-comment {
  padding: 0 0.5em 0.5em 0.5em;
  font-weight: 400;
  color: #696969;
  font-size: 0.8em;
  line-height: 170%;
}

.detail .item-reviewlist-container .review-comment textarea {
  width: 100%;
  resize: none;
  height: 5em;
  font-family: 'Lato', sans-serif;
  color: #696969;
  padding: 0.3em;
}

.detail .item-reviewlist-container .new-review {
  padding: 0;
}

.edit {
  font-family: 'Lato', sans-serif;
  padding-bottom: 5em;
}

.edit .main-header {
  z-index: 99999;
  background-color: transparent;
}

.edit .main-header .headerback {
  color: #ffffff;
}

.edit .item-detail-img-container {
  overflow: hidden;
  position: relative;
  height: 25em;
  border-radius: 0 0 0 3em;
}

.edit .item-detail-img-container .backicon {
  position: absolute;
  z-index: 9999;
  top: 1em;
  left: 0.5em;
  color: #ffffff;
  font-size: 1.8em;
}

.edit .item-detail-img-container img {
  position: absolute;
  left: -10000%;
  right: -10000%;
  top: -10000%;
  bottom: -10000%;
  margin: auto auto;
  max-width: 11%;
  max-height: 25em;
  -webkit-transform: scale(10);
  transform: scale(10);
  z-index: 10;
}

.edit .item-detail-content-wrap {
  padding: 1.5em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.edit .item-detail-content-wrap .edit-btn {
  background-color: #ffffff;
  padding: 0.5em;
  text-align: center;
  position: absolute;
  z-index: 9999;
  font-size: 1.5em;
  top: -1.6em;
  right: 1.5em;
  color: #333333;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  outline: none;
  border: none;
}

.edit .item-detail-content-wrap .edit-btn i {
  font-size: 0.9em;
}

.edit .item-detail-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding-bottom: 1em;
}

.edit .item-detail-header-container .item-detail-title {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #1c1c1c;
}

.edit .item-detail-header-container .item-detail-price {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-family: 'Lato', sans-serif;
  color: #37884E;
  font-size: 1.5em;
}

.edit .item-detail-subhead-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.edit .review-star-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2em 0;
}

.edit .review-star-container .avgRating {
  color: #696969;
  padding: 0 0.5em 0 0.1em;
}

.edit .review-star-container img {
  width: 1em;
  margin: 0 0.1em;
}

.edit .fav-container img {
  width: 1.5em;
  margin: 0.3em 0.3em 0 0;
}

.edit .item-user {
  font-family: 'Lato', sans-serif;
}

.edit .item-user-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-bottom: 1em;
}

.edit .item-user-container .item-user-dp img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.edit .item-user-container .item-user-info-container {
  padding-left: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.edit .item-user-container .item-user-info-container .item-user-name {
  font-weight: 400;
  font-size: 0.9em;
}

.edit .item-user-container .item-user-info-container .item-user-address {
  font-weight: 400;
  font-size: 0.9em;
  color: #a8a8a8;
}

.edit .item-input-container {
  padding-bottom: 1em;
  width: 100%;
}

.edit .item-input-container .item-input-title {
  font-weight: 400;
  padding-bottom: 1em;
  font-size: 0.9em;
}

.edit .item-input-container .item-desc, .edit .item-input-container .item-ship {
  color: #696969;
  font-weight: 400;
  line-height: 160%;
  font-size: 0.85em;
}

.edit .item-input-container .edit-input {
  padding: 1em;
  width: 100%;
  border: thin solid #a8a8a8;
  outline: none;
  border-radius: 2px 2px 2px 16px;
  resize: none;
  font-family: 'Lato', sans-serif;
  color: #696969;
}

.edit .edit-btn-container {
  padding: 3em 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.edit .edit-btn-container button {
  border: none;
  outline: none;
  padding: 1.2em 2em;
  margin-left: 1em;
  width: 11em;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px 9px 9px 15px;
}

.edit .edit-btn-container .delete-btn {
  color: #1c1c1c;
  background-color: #ffffff;
}

.edit .edit-btn-container .save-btn {
  color: #ffffff;
  background-color: #1c1c1c;
}

.edit .hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */